:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;

  }

  
  body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-top: 2rem;
    text-align: center;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    float: left;

  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
  }
  .navbar:-webkit-scrollbar {
      width: 0rem;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 3rem;
    min-width: 3rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #a390e4;
  }
  
  .fa-secondary {
    color: #401FFF;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  /* Profile Picture Look */
.profile-picture{
    width: 15rem;
    height: 15rem;
    border-radius: 30px;
    float: left;        
    border-style: solid;
    margin: 1rem;
  
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    body{
        background-size: 100vh;
    }
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
        padding: 0;
      margin: auto;
      text-align: center;
    }
    .profile-picture{
        float: none;
        padding: 0;
        margin: 0 auto;
    }   
    .view{
        width: 50vh;
        height: 90vh;
        display: block;
        margin: auto;
      }  
      .weather-dash{
        margin-bottom: 11vh;  
    }   
  }
 
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 7rem;
      height: 100%;
    }
  
    .navbar:hover {
      width: 18rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 13rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
    main{
        border-radius: 15px;
        width: fit-content;
        margin-left: 30%;
    }
    .portfolio-item{
        width: 52rem;
        max-width: 52rem;
    }
    .view{
        width: 70vh;
        height: 80vh;
        display: block;
        margin: auto;
      }   
    .weather-dash{
        margin-bottom: 5rem;
    }  

  }

  /* Title Animation */
 
  .test {
    stroke-dashoffset: 0;
    stroke-dasharray: 100%;
    animation: dash 4.5s linear;
  }
  
  .test:nth-child(10) {
    animation-delay: -2s;
  }
  .test:nth-child(9) {
    animation-delay: -1.75s;
  }
  .test:nth-child(8) {
    animation-delay: -1.5s;
  }
  .test:nth-child(7) {
    animation-delay: -1.5s;
  }
  .test:nth-child(6) {
    animation-delay: -1.25s;
  }
  .test:nth-child(5) {
    animation-delay: -1s;
  }
  .test:nth-child(4) {
    animation-delay: -0.75s;
  }
  .test:nth-child(3) {
    animation-delay: -0.5s;
  }
  .test:nth-child(2) {
    animation-delay: -0.25s;
  }
  
  @keyframes dash {
    0%,
    50% {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  

